<!DOCTYPE html>
<html>
<head>
  <script id="MathJax-script" async src="@(mathjax)"></script>
  <script src="@(mermaid)"></script>
  <script src="@(highlightjs)"></script>
  <link rel="stylesheet" href="@(stylePath)" />
  <link rel="stylesheet" href="@(highlightjs_style)/@(highlightjs_theme_name)" />
  <link rel="stylesheet" href="@(fontawesome)" />
  <script>
    @(disableAutoLanguageDetection)
    hljs.highlightAll();
  </script>
  <style>
    body {
      background-color: white;
    }

    pre {
      padding: 0;
    }

    pre code.hljs {
      white-space: pre-wrap;
    }

    @(tocListStyle)
    @(tocLinkStyle)
  </style>
  @(customHeadContent)
</head>
<body class="markdown-body">
  @(body)
</body>
</html>
