<!DOCTYPE html>
<html>
<head>
  <script id="MathJax-script" async src="@(mathjax)"></script>
  <script src="@(mermaid)"></script>
  <link rel="stylesheet" href="@(stylePath)" />

  <script src="@(highlightjs)"></script>
  <link rel="stylesheet" href="@(highlightjs_style)/@(highlightjs_theme_name)" />
  <script>
    @(disableAutoLanguageDetection)
    hljs.highlightAll();
  </script>
  <style>
    body {
      background-color: white;
    }
    pre {
      padding: 0;
    }
  </style>
  @(customCss)
</head>
<body class="markdown-body">
  @(body)
</body>
</html>
