.table-of-contents a {
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-areas: "title page-number";
  align-items: end;
  gap: 0 .25rem;
}

.table-of-contents .title {
  grid-area: title;
  position: relative;
  overflow: hidden;
}

  .table-of-contents .title::after {
    position: absolute;
    padding-left: .25ch;
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    text-align: right;
  }

.table-of-contents .page-number {
  grid-area: page-number;
}
